helpfiles/gaen.dtd

<!-- The XML document type definition (DTD) of files generated by 
     GAEN L (17) talker server 

     Last update: 06 August 2001
     Version 1.2
     Written by Sabin-Corneliu Buraga <busaco@infoiasi.ro>
-->

<!-- Elements list -->
<!DOCTYPE gaen [
	<!ELEMENT gaen		 (user*,statistics*)>
	<!ELEMENT user		 (info?,identity?,restrict?)>
	<!ELEMENT info		 (level,desc?,host?,total_login?,last_login?)>
	<!ELEMENT level		 (#PCDATA)>
	<!ELEMENT desc		 (#PCDATA)>
	<!ELEMENT host		 (#PCDATA)>
	<!ELEMENT total_login	 (#PCDATA)>
	<!ELEMENT last_login	 (#PCDATA)>
	<!ELEMENT restrict 	 (#PCDATA)>
	<!ELEMENT identity  	 EMPTY>
	<!ELEMENT statistics	 (total*)>
	<!ELEMENT total		 EMPTY>
]>

<!-- Atributes list -->
<!ATTLIST gaen
	userlist	CDATA		#IMPLIED
	date		CDATA		#IMPLIED
	criterion	CDATA		#REQUIRED -- all, name, level... --
>
<!ATTLIST user
	name		CDATA		#REQUIRED
	err_msg		CDATA		#IMPLIED  -- 'ok' or error message --
>
<!ATTLIST level
	number		CDATA		#REQUIRED
>
<!ATTLIST total
	for		CDATA		#IMPLIED
	users		CDATA		#IMPLIED
>
<!ATTLIST identity
	firstname	CDATA		#REQUIRED
	lastname	CDATA		#REQUIRED
	age		CDATA		#REQUIRED
	gender	(Male|Female|Unknown)	Unknown
	e-mail		CDATA		#REQUIRED
>
